$primary-color: #1D2123;
$secondary-color: white;
$text-color: #919191;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h5,a{
  color: $secondary-color;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

body{
  background-color: $primary-color ;
  color: $text-color;
}

.wrapper{
  padding: 0 40px;
}

.flex{
  display: flex;
}

.header{
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  z-index: 1;
}

.header ~ .movies{
  margin-top: 130px;
}

.nav{
  justify-content: space-between;
  align-items: center;
  height: 100%;
  
  .nav__item:not(:last-child){
    margin-right: 20px;
  }

  .nav__link:not(:last-child){
    margin-right: 40px;
  }
}

/* cards movies */

.movies{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.card{
  box-shadow: 1px 0 4px $secondary-color;
  position: relative;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 1.5rem;
  border-radius: 15px;

  .card__img{
    width: 100%;
    height: 300px;
    border-radius: 15px 15px 0 0;
  }
  
    .card__content{
      position: relative;
      width: 100%;
      height: 100px;
      padding: 0 10px 12px 10px;
    }
    
    .card__stars{
      position: relative;
      top: -20%;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 3px $secondary-color;
      background-color: transparent;
      color: $secondary-color;
      border-radius: 50%;
      width: 35px;
      height: 35px;
    }
    
    .card__title{
      position: relative;
      top: -20%;
      margin-top: 5px;
      width: 100%;
    }
}

.card:hover{
  .card__title{
    color: $text-color;
  }
}

/* details page */

.banner{
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
  .banner__img{
    width: 100%;
  }
}

.reviews{
  margin-top: 40px;
  .reviews__title{
    align-items: center;
    justify-content: center;
    background-color: $text-color;
    color: $primary-color;
    border-radius: 10px;
    box-shadow: 0 0 2px 1px $secondary-color;
    height: 50px;
  }
}

.form__select{

  .form__option{
    cursor: pointer;
    box-shadow: 0 0 1px $secondary-color;
    border-radius: 50%;
    width: 15px;
    height: 15px;
  }

  .form__option:not(:last-child){
    margin-right: 10px;
  }
}

.form__option:hover{
  background-color: $text-color;
}

